@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

img {
    max-width: 100%;
    height: auto;
}

:root {
    --primary-color:#047aed;
    --secondary-color:#1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
 }

 *{
   font-weight: 300;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
  }

 body {
  font-family: 'Lato', sans-serif;
  color: #333; 
  line-height: 1.6;
}

ul {
    list-style-type: none;
    
}


a {
  text-decoration: none;
  color: #333
    
}

h1,h2 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 10px 0;
    
}


p {
    font-size: large;
    margin: 10px 0;
    
}

img {
    width: 100%;
}


code, pre {
 background: #333;
 color: #fff;
 padding: 10px;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 80px;
}

.logo {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -1px;
}



.navbar ul {
    display: flex;
}

.navbar a {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  padding: 10px 15px;
  margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid; 
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
  
}

.showcase h1 {
    font-size: 40px;
}

.showcase-text p {
  font-size: 1.3rem;
  margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}


.showcase-form {
 position: relative;
 top: 60px;
 height: 350px;
 width: 400px;
 padding: 40px;
 z-index: 100;
 animation: slideInFromRight 1s ease-in;
}

 .showcase-form .form-control {
    margin: 30px 0;
}

 .showcase-form input[type='text'],
 .showcase-form input[type='email']{
 border: 0;
 border-bottom: 1px solid #b4becb; 
 width: 100%;
 padding: 3px;
 font-size: 16px;
 }

 .showcase-form input:focus {
  outline: none;
 }

 .showcase::before,
 .showcase::after {
 content:'';
 position: absolute;
 height: 100px;
 bottom: -70px;
 right: 0;
 left: 0;
 background: #fff;
 transform: skewY(-3deg);
 -webkit-transform: skewY(-3deg);
 -moz-transform: skewY(-3deg);
 -ms-transform: skewY(-3deg);
 }

 /* Stats */

 .stats .container {
 display: flex;
 flex-direction: column;
 align-items: center;
 }


 .stats {
 display: flex;
 justify-content: center; 
 padding-top: 100px;
 animation: slideInFromBottom 1s ease-in;
 }

 .stats-heading {
 font-size: 1.5rem;
 max-width: 500px;
 margin: auto;  
 text-align: center;
 }

 .stats .grid h3 {
 font-size: 35px;
 }

 .stats .grid p {
 font-size: 20px;
 font-weight: 500;
 }


 /* Cli */

 .cli .card {
  text-align: center;  
 }

 .cli .grid {
 display: grid;
 grid-template-columns: repeat(3, 1fr);   
 grid-template-rows: repeat(2, 1fr);
 }

 .cli .grid > *:first-child {
 grid-column: 1 / span 2; 
 grid-row: 1 / span 2;   
 }

 /* Cloud */
 .cloud .grid {
 grid-template-columns: 4fr 3fr;   
 }

 /* Languages */
 
 .languages .flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
 }

 .languages .card {
  text-align: center;
  margin: 0;
  transition: transform 0.2s ease-in;
 }

 .languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
 }

 .languages .card:hover {
  transform: translateY(-15px);
 }

 /* Features */
 @media(min-width: 1025px) and (max-width: 1440px) {
 .features-main .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px
 }

 .features-main .grid > *{
  grid-column: auto;
 }

 }
 
 .features-head img,
 .docs-head img {
  width: 200px;
  justify-self: flex-end;
 }

 .features-head p,
.features-sub-head p {
    font-size: 1.3rem;
}

 .features-sub-head img {
  width: 300px;
  justify-self: flex-end;
 }

 .features-main .card > i {
  margin-right: 20px; 
  }

 .features-main .grid {
  padding: 30px;
 }

 
  /* Docs */
 .docs-main h3 {
  margin: 20px 0;
 }

 .docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
 }

  .docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
  }

  .docs-main a:hover {
   font-weight: bold; 
  }

 .docs-head .grid {
  text-align: center;
  justify-items: center;
  align-items: center;
 }

 .docs-head h1.md {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  }

 .docs-head p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 0 auto 20px;
  line-height: 1.6;
  }

 .docs-head img {
  max-width: 200px;
  margin: 20px auto;
  display: block;
}

/* Footer */
 .footer .social a {
  margin: 0 10px;
 }

 /* Animations */
 @keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
  @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop{
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
 @media(max-width:768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  .languages .flex {
    grid-template-columns: repeat(4, 1fr);
  }
  .languages .card {
   flex: 0 0 22%;
   margin: 10px;  
  }
  }

.showcase {
  height: auto;
}

.showcase-text {
  text-align: center;
  margin-top: 40px;
  animation: slideInFromTop 1s ease-in;
}
}

.showcase-form {
 justify-self: center; 
 margin: auto;
 animation: slideInFromBottom 1s ease-in;
}


.cli .grid > *:first-child {
 grid-column: 1; 
 grid-row: 1;   
}

.features-head,
.features-sub-head,
.docs-head {
 text-align: center;
}

.features-head img,
.features-sub-head img,
.docs-head img {
 justify-self: center;
}

.features-head .grid {
 grid-template-columns: 1fr;
 text-align: center;
}
.features-head img {
  justify-self: center;
  margin-top: 20px;
}

.features-head p {
  font-size: 1.4rem;
}

.features-sub-head p{
  margin-top: 20px;
}

.docs-head .grid {
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
}

.docs-head h1.md {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.docs-head p {
 font-size: 1.5rem;
 max-width: 100%;
 margin: 0 auto 15px;
 line-height: 1.6;
}

.docs-head img {
 max-width: 150px;
 margin: 15px auto;
 display: block; 
}


/* Mobile */
@media(max-width: 500px) {
 .navbar {
  height: 110px;
 }
 .navbar .flex {
  flex-direction: column;
 }
 .navbar ul {
  padding: 10px;
  background-color: rgba(0,0,0,0.1);
 }
 .languages .flex {
  grid-template-columns: repeat(2,1fr);
 }
}